*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    height: 100%;
}

.extremos{
    background-color: #6e0d51;
    flex: 2;
}

main, .container{
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
}
.container{
    height: 100%;
}

.container{
    width: 100vw;
}

main{
    background-color: aliceblue;
    flex: 8;
}
