*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.extremos{
    background-color: #6e0d51;
    flex: 1;
}

main, container{
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
}
container{
    height: 100vh;
}

container{
    width: 100vw;
}

main{
    background-color: aliceblue;
    flex: 8;
}
